In [1]:
import tensorflow as tf

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X = df.iloc[:,[3,4,5,6,7,8,9,10,11,12]].values
y = df.iloc[:,13]

In [6]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [7]:
labelencoder_X_1 = LabelEncoder() # encode geography column
X[:,1] = labelencoder_X_1.fit_transform(X[:,1])

In [15]:
labelencoder_X_2 = LabelEncoder() # encode gender column
X[:,2] = labelencoder_X_2.fit_transform(X[:,2])

In [17]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray() # encodes the features by splitting them into different columns

In [33]:
pd.DataFrame(X).head()

    0    1      2    3     4    5          6    7    8    9          10
0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [22]:
X = X[:,1:] #avoid dummy variable trap and no need to remove one column in gender since there is only 
            #2 categories if it was more than 2 then its necessary to remove one column from dummy variables

In [23]:
pd.DataFrame(X).head()

    0    1      2    3     4    5          6    7    8    9          10
0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [60]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [61]:
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10
0,-0.569844,1.743090,0.169582,-1.091687,-0.464608,0.006661,-1.215717,0.809503,0.642595,-1.032270,1.106432
1,1.754865,-0.573694,-2.304559,0.916013,0.301026,-1.377440,-0.006312,-0.921591,0.642595,0.968738,-0.748664
2,-0.569844,-0.573694,-1.191196,-1.091687,-0.943129,-1.031415,0.579935,-0.921591,0.642595,-1.032270,1.485335
3,-0.569844,1.743090,0.035566,0.916013,0.109617,0.006661,0.473128,-0.921591,0.642595,-1.032270,1.276528
4,-0.569844,1.743090,2.056114,-1.091687,1.736588,1.044737,0.810193,0.809503,0.642595,0.968738,0.558378

In [62]:
pd.DataFrame(X_test).head()

,0,1,2,3,4,5,6,7,8,9,10
0,1.627770,-0.574271,-0.561294,-1.113392,-0.394017,0.986971,0.859622,-0.873377,0.660114,0.976281,1.621859
1,-0.614337,-0.574271,-1.338478,-1.113392,0.076114,-1.084321,0.403122,-0.873377,0.660114,-1.024295,0.504204
2,-0.614337,1.741338,0.583476,-1.113392,0.264167,0.986971,0.280118,-0.873377,0.660114,0.976281,-0.418656
3,-0.614337,-0.574271,1.444679,0.898156,-0.676096,-0.393891,0.550977,-0.873377,-1.514890,-1.024295,-0.181079
4,1.627770,-0.574271,0.583476,0.898156,-0.111938,-0.048675,1.377783,0.801363,0.660114,0.976281,0.625465

# Creating ANN with Keras

In [46]:
import keras

Using TensorFlow backend.

In [47]:
from keras.models import Sequential
from keras.layers import Dense

In [75]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [48]:
classifier = Sequential()

In [49]:
# adding hidden layers first layer along with input dimension that is number of input layers (X) 
classifier.add(Dense(6,kernel_initializer='uniform',activation='relu',input_dim=11))

In [50]:
# adding hidden layers second layer
classifier.add(Dense(6,kernel_initializer='uniform',activation='relu'))

In [51]:
# output layer   
classifier.add(Dense(1,kernel_initializer='uniform',activation='sigmoid'))

In [52]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [65]:
classifier.fit(X_train,y_train,batch_size=5,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 2s 211us/step - loss: 0.3434 - acc: 0.8591
Epoch 2/100
8000/8000 [==============================] - 2s 212us/step - loss: 0.3408 - acc: 0.8619
Epoch 3/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.3402 - acc: 0.8633
Epoch 4/100
8000/8000 [==============================] - 2s 214us/step - loss: 0.3408 - acc: 0.8614
Epoch 5/100
8000/8000 [==============================] - 2s 216us/step - loss: 0.3396 - acc: 0.8621
Epoch 6/100
8000/8000 [==============================] - 2s 215us/step - loss: 0.3410 - acc: 0.8618
Epoch 7/100
8000/8000 [==============================] - 2s 217us/step - loss: 0.3400 - acc: 0.8625
Epoch 8/100
8000/8000 [==============================] - 2s 242us/step - loss: 0.3408 - acc: 0.8616
Epoch 9/100
8000/8000 [==============================] - 2s 288us/step - loss: 0.3412 - acc: 0.8616
Epoch 10/100
8000/8000 [==============================] - 2s 259us/step - loss: 0.3395 - acc: 0.8613
Epoch 11/100
8000/8000 [==============================] - 2s 235us/step - loss: 0.3399 - acc: 0.8623
Epoch 12/100
8000/8000 [==============================] - 2s 261us/step - loss: 0.3398 - acc: 0.8605
Epoch 13/100
8000/8000 [==============================] - 2s 302us/step - loss: 0.3409 - acc: 0.8616
Epoch 14/100
8000/8000 [==============================] - 3s 358us/step - loss: 0.3400 - acc: 0.8604
Epoch 15/100
8000/8000 [==============================] - 3s 339us/step - loss: 0.3401 - acc: 0.8628
Epoch 16/100
8000/8000 [==============================] - 2s 308us/step - loss: 0.3401 - acc: 0.8628
Epoch 17/100
8000/8000 [==============================] - 2s 291us/step - loss: 0.3400 - acc: 0.8616
Epoch 18/100
8000/8000 [==============================] - 2s 289us/step - loss: 0.3399 - acc: 0.8623
Epoch 19/100
8000/8000 [==============================] - 2s 311us/step - loss: 0.3402 - acc: 0.8618
Epoch 20/100
8000/8000 [==============================] - 3s 405us/step - loss: 0.3402 - acc: 0.8593
Epoch 21/100
8000/8000 [==============================] - 3s 419us/step - loss: 0.3400 - acc: 0.8625
Epoch 22/100
8000/8000 [==============================] - 3s 377us/step - loss: 0.3401 - acc: 0.8616
Epoch 23/100
8000/8000 [==============================] - 2s 306us/step - loss: 0.3400 - acc: 0.8625
Epoch 24/100
8000/8000 [==============================] - 3s 360us/step - loss: 0.3394 - acc: 0.8604
Epoch 25/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.3397 - acc: 0.8640
Epoch 26/100
8000/8000 [==============================] - 2s 306us/step - loss: 0.3397 - acc: 0.8605
Epoch 27/100
8000/8000 [==============================] - 3s 342us/step - loss: 0.3395 - acc: 0.8634
Epoch 28/100
8000/8000 [==============================] - 3s 355us/step - loss: 0.3396 - acc: 0.8603
Epoch 29/100
8000/8000 [==============================] - 2s 307us/step - loss: 0.3394 - acc: 0.8605
Epoch 30/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.3392 - acc: 0.8618
Epoch 31/100
8000/8000 [==============================] - 3s 358us/step - loss: 0.3388 - acc: 0.8599
Epoch 32/100
8000/8000 [==============================] - 2s 309us/step - loss: 0.3396 - acc: 0.8596
Epoch 33/100
8000/8000 [==============================] - 3s 355us/step - loss: 0.3393 - acc: 0.8614
Epoch 34/100
8000/8000 [==============================] - 3s 352us/step - loss: 0.3392 - acc: 0.8620
Epoch 35/100
8000/8000 [==============================] - 2s 311us/step - loss: 0.3398 - acc: 0.8628
Epoch 36/100
8000/8000 [==============================] - 3s 359us/step - loss: 0.3394 - acc: 0.8623
Epoch 37/100
8000/8000 [==============================] - 4s 475us/step - loss: 0.3384 - acc: 0.8620
Epoch 38/100
8000/8000 [==============================] - 4s 528us/step - loss: 0.3386 - acc: 0.8614
Epoch 39/100
8000/8000 [==============================] - 3s 422us/step - loss: 0.3393 - acc: 0.8616
Epoch 40/100
8000/8000 [==============================] - 3s 371us/step - loss: 0.3386 - acc: 0.8625
Epoch 41/100
8000/8000 [==============================] - 3s 319us/step - loss: 0.3391 - acc: 0.8616
Epoch 42/100
8000/8000 [==============================] - 3s 359us/step - loss: 0.3392 - acc: 0.8620
Epoch 43/100
8000/8000 [==============================] - 4s 467us/step - loss: 0.3390 - acc: 0.8626
Epoch 44/100
8000/8000 [==============================] - 4s 539us/step - loss: 0.3395 - acc: 0.8623
Epoch 45/100
8000/8000 [==============================] - 3s 426us/step - loss: 0.3394 - acc: 0.8635
Epoch 46/100
8000/8000 [==============================] - 3s 372us/step - loss: 0.3391 - acc: 0.8625
Epoch 47/100
8000/8000 [==============================] - 3s 316us/step - loss: 0.3387 - acc: 0.8615
Epoch 48/100
8000/8000 [==============================] - 3s 347us/step - loss: 0.3386 - acc: 0.8618
Epoch 49/100
8000/8000 [==============================] - 4s 453us/step - loss: 0.3387 - acc: 0.8621
Epoch 50/100
8000/8000 [==============================] - 5s 563us/step - loss: 0.3390 - acc: 0.8598
Epoch 51/100
8000/8000 [==============================] - 3s 432us/step - loss: 0.3394 - acc: 0.8629
Epoch 52/100
8000/8000 [==============================] - 3s 373us/step - loss: 0.3386 - acc: 0.8610
Epoch 53/100
8000/8000 [==============================] - 3s 362us/step - loss: 0.3393 - acc: 0.8605
Epoch 54/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.3393 - acc: 0.8606
Epoch 55/100
8000/8000 [==============================] - 4s 476us/step - loss: 0.3381 - acc: 0.8634
Epoch 56/100
8000/8000 [==============================] - 4s 543us/step - loss: 0.3385 - acc: 0.8649
Epoch 57/100
8000/8000 [==============================] - 3s 423us/step - loss: 0.3393 - acc: 0.8614
Epoch 58/100
8000/8000 [==============================] - 3s 370us/step - loss: 0.3387 - acc: 0.8604
Epoch 59/100
8000/8000 [==============================] - 3s 317us/step - loss: 0.3387 - acc: 0.8640
Epoch 60/100
8000/8000 [==============================] - 3s 371us/step - loss: 0.3384 - acc: 0.8610
Epoch 61/100
8000/8000 [==============================] - 4s 491us/step - loss: 0.3388 - acc: 0.8615
Epoch 62/100
8000/8000 [==============================] - 4s 546us/step - loss: 0.3386 - acc: 0.8625
Epoch 63/100
8000/8000 [==============================] - 3s 420us/step - loss: 0.3383 - acc: 0.8638
Epoch 64/100
8000/8000 [==============================] - 3s 411us/step - loss: 0.3386 - acc: 0.8624
Epoch 65/100
8000/8000 [==============================] - 4s 457us/step - loss: 0.3391 - acc: 0.8621
Epoch 66/100
8000/8000 [==============================] - 3s 394us/step - loss: 0.3384 - acc: 0.8611
Epoch 67/100
8000/8000 [==============================] - 4s 474us/step - loss: 0.3389 - acc: 0.8626
Epoch 68/100
8000/8000 [==============================] - 3s 402us/step - loss: 0.3389 - acc: 0.8618
Epoch 69/100
8000/8000 [==============================] - 4s 444us/step - loss: 0.3378 - acc: 0.8618
Epoch 70/100
8000/8000 [==============================] - 3s 428us/step - loss: 0.3386 - acc: 0.8626
Epoch 71/100
8000/8000 [==============================] - 3s 408us/step - loss: 0.3382 - acc: 0.8600
Epoch 72/100
8000/8000 [==============================] - 4s 454us/step - loss: 0.3378 - acc: 0.8658
Epoch 73/100
8000/8000 [==============================] - 3s 386us/step - loss: 0.3386 - acc: 0.8605
Epoch 74/100
8000/8000 [==============================] - 4s 477us/step - loss: 0.3382 - acc: 0.8633
Epoch 75/100
8000/8000 [==============================] - 6s 807us/step - loss: 0.3386 - acc: 0.8614
Epoch 76/100
8000/8000 [==============================] - 4s 549us/step - loss: 0.3388 - acc: 0.8635
Epoch 77/100
8000/8000 [==============================] - 3s 427us/step - loss: 0.3386 - acc: 0.8619
Epoch 78/100
8000/8000 [==============================] - 3s 428us/step - loss: 0.3383 - acc: 0.8628
Epoch 79/100
8000/8000 [==============================] - 4s 456us/step - loss: 0.3380 - acc: 0.8620
Epoch 80/100
8000/8000 [==============================] - 3s 390us/step - loss: 0.3382 - acc: 0.8634
Epoch 81/100
8000/8000 [==============================] - 4s 489us/step - loss: 0.3383 - acc: 0.8605
Epoch 82/100

8000/8000 [==============================] - 3s 345us/step - loss: 0.3383 - acc: 0.8626
Epoch 83/100
8000/8000 [==============================] - 3s 374us/step - loss: 0.3373 - acc: 0.8634
Epoch 84/100
8000/8000 [==============================] - 3s 434us/step - loss: 0.3385 - acc: 0.8609
Epoch 85/100
8000/8000 [==============================] - 3s 348us/step - loss: 0.3383 - acc: 0.8618
Epoch 86/100
8000/8000 [==============================] - 3s 419us/step - loss: 0.3379 - acc: 0.8631
Epoch 87/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.3386 - acc: 0.8609
Epoch 88/100
8000/8000 [==============================] - 3s 373us/step - loss: 0.3383 - acc: 0.8628
Epoch 89/100
8000/8000 [==============================] - 3s 418us/step - loss: 0.3383 - acc: 0.8636
Epoch 90/100
8000/8000 [==============================] - 3s 351us/step - loss: 0.3378 - acc: 0.8634
Epoch 91/100
8000/8000 [==============================] - 3s 429us/step - loss: 0.3387 - acc: 0.8630
Epoch 92/100
8000/8000 [==============================] - 3s 429us/step - loss: 0.3383 - acc: 0.8620
Epoch 93/100
8000/8000 [==============================] - 4s 466us/step - loss: 0.3379 - acc: 0.8633
Epoch 94/100
8000/8000 [==============================] - 6s 777us/step - loss: 0.3379 - acc: 0.8613
Epoch 95/100
8000/8000 [==============================] - 5s 580us/step - loss: 0.3379 - acc: 0.8624
Epoch 96/100
8000/8000 [==============================] - 4s 444us/step - loss: 0.3378 - acc: 0.8620
Epoch 97/100
8000/8000 [==============================] - 3s 393us/step - loss: 0.3382 - acc: 0.8633
Epoch 98/100
8000/8000 [==============================] - 4s 449us/step - loss: 0.3375 - acc: 0.8631
Epoch 99/100
8000/8000 [==============================] - 3s 392us/step - loss: 0.3378 - acc: 0.8618
Epoch 100/100
8000/8000 [==============================] - 3s 393us/step - loss: 0.3380 - acc: 0.8620

In [66]:
y_pred = classifier.predict(X_test)

In [38]:
y_pred = pd.DataFrame(y_pred>0.5)

In [39]:
from sklearn.metrics import confusion_matrix, classification_report
cm = confusion_matrix(y_test,y_pred)

In [40]:
cm

array([[1516,   79],
       [ 198,  207]])

In [41]:
classification_report(y_test,y_pred)

'             precision    recall  f1-score   support\n\n          0       0.88      0.95      0.92      1595\n          1       0.72      0.51      0.60       405\n\navg / total       0.85      0.86      0.85      2000\n'